
caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

table, th, td {
    border: 1px solid #0d1f2d;
    border-collapse: collapse;
    padding: 5px 10px;
}

table {
    width: 90%;
    margin: auto;
}

tr {
    height: 30px;
}

th {
    background-color: #546a7b;
    color: #f2eded;
}

tr:nth-child(odd) {
    background-color: #e4c4ad;
}

