@charset "utf-8";
/*
Creator: Dominique McCloud
Date created: 9/4/2018
Date last modified: 9/4/2018
*/

body {
    background-color: #0D0809;
    font-family: arial, helvetica, sans-serif;
    color: #fff;
    max-width: 1050px;
    margin: 0 auto;
    border: 1px solid #a5152e;
    padding: 2px;
}

header, footer{
    background-color: #a5152e;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}

nav {
    margin-top: 4px;
    background-color: #3F0E16;
    border-top: 3px dashed #6f1625;
    border-bottom: 3px dashed #6f1625;
    
}

nav a {
    background-color: #FF4A4A;
    color: #fff;
    padding: 8px;
    border: thin solid #752b1b;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
    width: 100px;
   float: left;
}

article {
    margin-bottom: 16px;
}

a:link {
    color: #52141f;
}

a:visited {
    background-color: #6f1625;
    color: #54B0B4;
  
}

a:hover {
    color: lightblue;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px 10px;
    color: #fff;
}

table {
    width: 90%;
    margin: auto;
}

tr {
    height: 30px;
    background-color: #DD516A;
}

th {
    background-color: #52141f;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #a5152e;
}

.clear-float {
    clear:both;
}

article img {
    float:left;
}

.right-content {
    float:left;
}

