/*
Creator: Dominique McCloud
Date created: 9/4/2018
Date last modified: 9/4/2018
*/

header, footer{
    background-color: #a5152e;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}

nav {
    margin-top: 4px;
    background-color: #fff;
    border-top: 3px solid #6f1625;
    border-bottom: 3px solid #6f1625;
    
}

body {
    background-color: #0D0809;
    font-family: arial, helvetica, sans-serif;
    color: #719761;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px 10px;
    color: #fff;
}

table {
    width: 90%;
    margin: auto;
}

tr {
    height: 30px;
    background-color: #DD516A;
}

th {
    background-color: #52141f;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #a5152e;
}

