body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#main {
    width: 400px;
    margin: 0 auto;
}

nav {
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
    display: inline;
}

nav li {
    display: inline;
    padding: 10px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer p{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

#menu {
    width: 90%;
    margin: 0 auto;
}

.menu-item {
    display: inline-block;
    width: 30%;
    padding: 1%;
    text-align: center;
}

.menu-item .row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .menu-item {
        width: 100%;
    }
}

#contact {
    width: 40%;
    margin: 0 auto;
}