@charset "utf-8";

body {
    color: #fff;
    max-width: 90%;
    margin: 40px auto;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C9090;
    text-align: center;
    background-image: url('../images/diceBG.jpg');
    background-repeat: repeat;
}

img {
	width: 100%;
}

.container {
    max-width: 45%;
}

#box-form {
    margin: 30px auto;
    padding: 40px;
    background-color: rgb(57, 67, 75);
    color: rgb(255, 255, 255);
    border: thick solid #fff;
    }

#box-form-area {
    margin: 0 auto;
    width:70%;
}


header {
    text-align: center;
}

header h1 {
    color: rgb(236, 231, 232);
}


.clear-float {
    clear:both;
}


table {
    width: 100%;
    margin: 0px auto;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
    
}

.tr-b {
    background-color: #fff;;
    color: rgb(144, 12, 12);
    
}

.tr-a {
    background-color: rgb(144, 12, 12);
    color: #fff;
}







